{% extends 'base.html' %}
{% load staticfiles %}

{% block contact %}
     <ul class="nav navbar-nav">
        <li><a href="/"><i class="far fa-times-circle close"></i></a></li>
        
    </ul>
{% endblock contact %}


{% block body %}
<section>
      <hr>
      <div class="container-fluid text-center">
         <img class="img-fluid avatar-contact" src="{% static 'consultation/images/avatar.svg' %}">
      </div>

      <div class="container-fluid text-center">
         <h4 class="header"> Upload Recent Work </h2>
      </div>

</section>

<div class="container text-center">
         {% if messages %}
            {% for message in messages %}
               <h5>{{ message }}</h5>
            {% endfor %}
         {% endif %}
</div>

{{ form.media }}

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type ="submit" class = "conversation-style"> Upload </button>

            
        </form>
        <div id="progress"></div>
    </div>
{% endblock body %}
    